body {
    margin: 0;  
    padding: 0; 
}
.todo-wrapper{
    height:100%;
    background-color: lightskyblue;
    padding: 30px 50px 50px 50px;
    position: relative;
   
}
.white-box{
    padding: 50px;
    margin: 30px;
    background-color: beige;
    max-width: 1000px;
    height: 400px;
    border-radius: 6px;
    box-shadow: 0 0 10px black;
    
}
.label {
    
   color:#09165F;
   margin:auto;
   font-size:44px;
   text-align:center;
}
.content{   
   
}
.conteiner-newtodo{
    background: #E5E5E5;
    border-radius: 6px;
    margin-left: 50px;
   
    
}
.list-text{
    color: #09165F;
    position: absolute;
    margin-left: 100px;
    padding: 20px 0px 20px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    
    
}

.list-name{
     padding: 60px;
    background-attachment: fixed;
    overflow-y: scroll;
    
}

.list-name li{
 margin-left: 80px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  border-bottom: 1px solid lightgray;
  
  
}
.button-done{
    position: static;
    width: 42px;
    height: 21px;
    left: 10px;
    top: 10px;
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 133.02%;
/* or 21px */


letter-spacing: 0.035em;
}