body {
  margin: 0;
  padding: 0;
}
.todo-wrapper {
  height: 100%;
  background-color: lightskyblue;
  padding: 30px 50px 50px 50px;
  position: relative;
}
.white-box {
  padding: 50px;
  margin: 30px;
  background-color: beige;
  max-width: 1000px;
  height: 500px;
  border-radius: 6px;
  box-shadow: 0 0 10px black;
}
.label {
  color: #09165f;
  margin: auto;
  font-size: 44px;
  text-align: center;
}
.content {
}
.container-new-todo {
  display: flex;
  background: #e5e5e5;
  border-radius: 6px;
}

.container-new-todo__input {
  flex-grow: 1;
}

.todo-list {
  list-style-type: none;
  padding-left: 0;
}

.list-text {
  color: #09165f;
  position: absolute;
  margin-left: 100px;
  padding: 20px 0px 20px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
}

.list-name {
  padding: 60px;
  background-attachment: fixed;
  overflow-y: scroll;
}

.list-name li {
  margin-left: 80px;
  padding: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  border-bottom: 1px solid lightgray;
}
.button-done {
  background-color: #536dff;
  width: 40px;
  height: 30px;
  border: 0px solid white;
  border-radius: 10px;
  color: #ffffff;
  font-family: Verdana;
  font-size: 8px;
  float: right;
  margin-right: auto;
}
