body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color:black;
}
.content{
    

}
.conteiner-newtodo{
    background-color:rgba(238, 247, 246, 0.3);
    width: 100px;
    height: 70px;
    border: 15px solid black;
    border-radius: 50px;
}
.list-text{
    width: 200px;
}
