body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
 margin: 0 auto;
 width:600px;
padding-top: 5rem;
color:rgb(70, 70, 249);
}

.click {
border-radius: 50%;
color:whitesmoke;
background-color: rgb(70, 70, 249);
}

.inner{
  text-align:center;
}
.newTodo {
  margin: 0 auto;
 width:600px;
 background-color: rgb(240, 240, 241);
 border-radius:7px;
 border:'1px solid #ccc';
}